In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

df = pd.read_csv("/content/mydata - Sheet1 (2).csv")

print('Before One Hot Encoding:')
display(df)

power = df.iloc[:, 0]
fin_type = df.iloc[:, 1]
configuration = df.iloc[:, 2]
pcm = df.iloc[:, 3]
time = df.iloc[:, 4]
temperature = df.iloc[:, 5]

for col in ['Fin Type','Configuration', 'PCM']:
    df[col] = df[col].astype('category')
    
print(df.dtypes)

df_encoded = pd.get_dummies(data=df,columns=['Fin Type','Configuration', 'PCM'])

#print(df)
print('\nAfter One Hot Encoding:')
display(df_encoded)

df_encoded.to_csv('post_one_hot_encode.csv', index=False)

Before One Hot Encoding:

      Power    Fin Type Configuration    PCM  Time  Temperature
0         8      Square        Inline  RT-44     0        25.00
1         8      Square        Inline  RT-44     2        28.16
2         8      Square        Inline  RT-44     4        31.00
3         8      Square        Inline  RT-44     6        33.58
4         8      Square        Inline  RT-44     8        35.90
...     ...         ...           ...    ...   ...          ...
1651      5  Triangular     Staggered  RT-44    82        42.13
1652      5  Triangular     Staggered  RT-44    84        42.22
1653      5  Triangular     Staggered  RT-44    86        42.37
1654      5  Triangular     Staggered  RT-44    88        42.51
1655      5  Triangular     Staggered  RT-44    90        42.51

[1656 rows x 6 columns]

Power               int64
Fin Type         category
Configuration    category
PCM              category
Time                int64
Temperature       float64
dtype: object

After One Hot Encoding:

,Power,Time,Temperature,Fin Type_Round,Fin Type_Square,Fin Type_Triangular,Configuration_Inline,Configuration_Staggered,PCM_Paraffin,PCM_RT-35,PCM_RT-44
0,8,0,25.00,0,1,0,1,0,0,0,1
1,8,2,28.16,0,1,0,1,0,0,0,1
2,8,4,31.00,0,1,0,1,0,0,0,1
3,8,6,33.58,0,1,0,1,0,0,0,1
4,8,8,35.90,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1651,5,82,42.13,0,0,1,0,1,0,0,1
1652,5,84,42.22,0,0,1,0,1,0,0,1
1653,5,86,42.37,0,0,1,0,1,0,0,1
1654,5,88,42.51,0,0,1,0,1,0,0,1
1655,5,90,42.51,0,0,1,0,1,0,0,1